.header{
    border-radius: 0%;
}
.row-set{
    padding: 1% 5% 2% 5%;
}

.col-2{
    text-align: center;
}

.col-2 img{
    width: 120px;
    height: 120px;
}

.col-3{
    text-align: center;
}

.col-3 img{
    width: 120px;
    height: 120px;
}


.item label{
    color: #bbb;
    margin-top: 1%;
}

.item-f label{
    color: white;
    margin-top: 1%;
}

.faculty{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #edb91f;
}

.col-3 h2{
    margin-top: 2% !important;
    color: #edb91f;
}

.col-3 p{
    color: #edb91f;
    height: 10px;
}



/*upload modal*/

.modal-header{
    text-align: center;
}
.modal-header .close{
    margin: 0% 0% 0% auto;
    text-align: right;
    align-items: right;
    padding: 0%;
}

.carousel-control-prev, .carousel-control-next{
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    
    background: #ddd;
}

.icon-arrow{
    color: #edb91f;
}


#new{
    margin-left: 5%; 
    margin-top: 3%; 
    color: #edb91f;
    border-bottom: 1px solid #b4b4b4;
}
#cate{
    margin-left: 5%;
    margin-top: 3%;
    color: #aaa;
    border-bottom: 1px solid #edb91f;
}

#fac{
    margin-left: 5%;
    margin-top: 2%;
    color: white;
    border-bottom: 1px solid white;
}

#new-container{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color:  white;
}