.header{
    border-radius: 0%;
}
.row-set{
    padding: 1% 5% 2% 5%;
}

.col-2{
    text-align: center;
}

.col-2 img{
    width: 120px;
    height: 120px;
}

.col-3{
    text-align: center;
}

.col-3 img{
    width: 120px;
    height: 120px;
}


.item label{
    color: #bbb;
    margin-top: 1%;
}

.item-f label{
    color: white;
    margin-top: 1%;
}

.faculty{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #edb91f;
}

.col-3 h2{
    margin-top: 2% !important;
    color: #edb91f;
}

.col-3 p{
    color: #edb91f;
}



/*upload modal*/

.modal-header{
    text-align: center;
}
.modal-header .close{
    margin: 0% 0% 0% auto;
    text-align: right;
    align-items: right;
    padding: 0%;
}

.carousel-control-prev, .carousel-control-next{
    width: 5%;
}