section{
    background-color: #ffc107;
    color: #ffffff;
}
.login{
    float: right !important;
}
	
}
.navbar-brand{
	padding: 25px 20px
}
.register{

    margin-bottom: 10%;
}
#fh5co-home .text-inner{
	text-align: left;
	vertical-align: top;
	
}

.long.input-regis{
	width: 370px;
}

.input-regis{
	float: left;
	color: #000000;
	border: 1px solid white;
	border-radius: 5px; 
	width: 180px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 13px;
}
.btn.btn-primary{
	letter-spacing: 0px;
	background-color: #ffffff; 
	color: #edb91f;
	border: 2px solid #edb91f !important;

}
.btn.btn-primary:hover {
	background-color: #484848 !important;
	color: #ffffff;
}

.navbar-collapse.collapse{
	padding: 16px;
}

#fh5co-header #navbar li.call-to-action a{
	margin: 10px 0 0 15px;
}


.btn-login.btn.btn-submit:hover {
	background-color: #484848 !important;
	color: white !important;
}
.login-btn.btn.btn-outline-success.my-2.my-sm-0{
    border-color: #ffffff !important;
    background-color: #ffffff;
    color: #edb91f!important;
}
.login-btn.btn.btn-outline-success.my-2.my-sm-0:hover{
    color: #ffffff !important;
    border-color: #edb91f!important;
    background-color:#edb91f!important;
}
.form-group{
    margin-bottom: 30px;
}
.form-control{
    background-color: #ffffff00;
    color: white;
    border: 2px solid white;
}
.form-control:focus{
    color: #ffffff;
    background-color: #ffffff00;
    border-color: #484848
    box-shadow: #343a4033 !important;
}
.login-input .form-control .mr-sm-2:focus{
    color: #ffffff;
    background-color: #ffffff00;
    border-color: #edb91f
    box-shadow: #343a4033 !important;
        
    }
.bg-light{
    background-color: #484848 !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white!important;
}