.call-to-action-yim{
	padding: 5px 10px 3px 10px;
	margin: 12px 0 0 0px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
}
.profile_yim{
	margin-right: 5px
	margin-top: 7.5px;
	border-radius: 50%;
	width: 40px;
	margin: 10px;
}