html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    font-family: 'Kanit';
    /*    max-width: 800px;*/
    /*    padding: 2em 2em 4em;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b,
strong {
    font-weight: 600;
}

samp {
    display: none;
}

/*
img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}
*/

.text-center {
    text-align: center;
}

.object-right {
    float: right!important;
}

.object-left {
    float: left;
}

.logo_size {
    width: 50%;
    float: left;

.margin_form {
    margin-left: 9%
}

.name-margin {
    margin-bottom: 3%
}

.bg_color {
    background-color: #edb91f;
}

.img-profile {
    width: 60%;
    margin: auto;
}

.edit_margin-top {
    margin-left: 2%;
    margin: 3%;
}

.Absolute-Center {
    height: 50%;
    /* Set your own height: percents, ems, whatever! */
    overflow: auto;
    /* Recommended in case content is larger than the container */
    margin: auto;
    /* Center the item vertically & horizontally */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Set the bounds in which to center it, relative to its parent/container */
}

.col-9.header-edit{
    max-width: 0;
}}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
